__pycache__/
*.py[cod]
.venv/

chimeradash_frontend_code/node_modules/
chimeradash_frontend_code/dist/
chimeradash_frontend_code/.DS_Store

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

.env
.env.*
!/.env.example

*.log

.coverage
coverage/

backend_api_service/data/*.db
backend_api_service/data/*.sqlite
backend_api_service/data/*.sqlite3
