# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
wheels/

# Environments
.env
.env.*
.venv
venv/
env/

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
*.sublime-project
*.sublime-workspace

# Logs
*.log
logs/

# OS-specific
.DS_Store
Thumbs.db

# Example files / Temp files
example_agent.json
